{
  "plugins": ["prettier-plugin-astro"],
  "printWidth": 180,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "astroAllowShorthand": true,
  "overrides": [
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "printWidth": 180
      }
    },
    {
      "files": ["*.astro"],
      "options": {
        "printWidth": 180,
        "singleAttributePerLine": false
      }
    }
  ]
}
